{% extends 'imagersite/base.html' %}

{% block content %}
<header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To ImagerSite!</div>
          <div class="intro-heading">
            <h2>You are now an active user.</h2>
            <p>Your registration is complete and you are officially an active user.</p>
            <h2>Registration Failed</h2>
            <p>Something went wrong. It was probably you, but here is your activation key to confirm: activation_key</p>
        </div>
      </div>
    </header>
{% endblock %}