{% extends 'imagersite/base.html' %}

{% block nav %} {% include "imagersite/nav.html" %} {% endblock nav %}

{% block content %}
<header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To ImagerSite!</div>
          <div class="intro-heading">
            <h2>You are now an active user.</h2>
            <p>Your registration is complete and you are officially an active user.</p>
        </div>
      </div>
    </header>
{% endblock %}