{% extends 'imagersite/base.html' %}

{% block nav %} {% include "imagersite/nav.html" %} {% endblock nav %}

{% block content %}
  {% load static %}
    <header class="masthead">
      <div class="container">
      </div>
    </header>
    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">PHOTOS</h2>
          </div>
        </div>
        <div class="row">
          {% for photo in photos %}
              {% load static %}
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#photo_{{ photo.id }}">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
  
                <img class="img-fluid" src={{ photo.docfile.url }} alt="My image"/>
            </a>
          </div>      
               {% endfor %} 
        </div>
      </div>
    </section>


    <!-- Modal 6 -->
{% for photo in photos %}
    {% load static %}
    <div class="portfolio-modal modal fade" id="photo_{{ photo.id }}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  {% load static %}
                  <h2>{{ photo.title }}</h2>
                  <img class="img-fluid d-block mx-auto" src={{ photo.docfile.url }} alt="My image"/>
                  <p>{{ photo.description }}</p>
                  <a href="/profile/{{ photo.user.user }}">{{ photo.user.user }}</a>
                  <ul class="list-inline">
                    <li>Upload Date: {{ photo.date_uploaded }}</li>
                    {% if request.user == photo.user.user %}
                    <li><a href="photos/{{ photo.id }}/edit">Edit</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} 

{% endblock %}