{% extends 'imagersite/base.html' %}


  {% block nav %} {% include "imagersite/nav.html" %} {% endblock nav %}


{% block content %}

    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To ImagerSite!</div>
          <div class="intro-heading">
            {% if request.user.is_authenticated %}
                <h1>Hello, {{ request.user.username }}</h1>
            {% endif %}</div>
          {% if request.user.is_authenticated %}
          <a class="btn btn-xl js-scroll-trigger" href="/accounts/logout">Logout</a>
          {% else %}
          <a class="btn btn-xl js-scroll-trigger" href="/accounts/login">Login</a>
          <a class="btn btn-xl js-scroll-trigger" href="/accounts/register">Register</a>
          {% endif %}</div>
        </div>
    </header>

{% endblock %}
